  <div id="pins" class="transitions-enabled">
  <% @hpins.each do |hpin| %>   
  <div class="box panel panel-default">
      <%= image_tag hpin.image.url(:medium) %>
      <div class="panel-body">
      <%= hpin.description %>
      <%= hpin.user.email if hpin.user %>
      <%= link_to 'Show', hpin %>       
        <%= link_to 'Edit', edit_hpin_path(hpin) %>
        <%= link_to 'Destroy', hpin, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  </div>
  <% end %>
</div>