<h1>Listing hpins</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hpins.each do |hpin| %>
      <tr>
        <td><%= hpin.description %></td>
        <td><%= link_to 'Show', hpin %></td>
        <td><%= link_to 'Edit', edit_hpin_path(hpin) %></td>
        <td><%= link_to 'Destroy', hpin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hpin', new_hpin_path %>
