 <h1>Ms Howard's Peabody Students - Pre-K3</h1>
 <div id="pins" class="transitions-enabled">
  <% @hpins.each do |hpin| %>   
  <div class="box panel panel-default">
      <%= link_to image_tag(hpin.image.url(:medium)), hpin %>
      <div class="panel-body">
        <p><%= hpin.description %></p>
        <p><strong><%= hpin.user.email if hpin.user %></strong></p>
         <div class="actions">
          <%= link_to 'Edit', edit_hpin_path(hpin) %>
          <%= link_to 'Destroy', hpin, method: :delete, data: { confirm: 'Are you sure?' } %>
         </div>
      </div>
  </div>
  <% end %>
 </div>