<h1>Listing hpins</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hpins.each do |hpin| %>
      <tr>
        <td><%= image_tag hpin.image.url(:medium) %></td>
        <td><%= hpin.description %></td>
        <td><%= hpin.user.email if hpin.user %></td>
        <td><%= link_to 'Show', hpin %></td>
        <% if hpin.user == current_user %>
          <td><%= link_to 'Edit', edit_hpin_path(hpin) %></td>
          <td><%= link_to 'Destroy', hpin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Hpin', new_hpin_path %>
<% end %>
