<p id="notice"><%= notice %></p>
<%= image_tag @hpin.image.url(:medium) %>

<p>
  <strong>Description:</strong>
  <%= @hpin.description %>
</p>

<% if @hpin.user == current_user %>
<%= link_to 'Edit', edit_hpin_path(@hpin) %> |
<% end %>
<%= link_to 'Back', hpins_path %>
